body {
  font-family: helvetica, arial, sans-serif;
}

h1, h2, h3 {
  font-style: italic;
  color: #007bff;
  display: inline;
}

td {
  text-align: right;
}

td:first-child {
  padding-left: 3px;
  text-align: left;
  font-weight: bold;
  color: #004477;
}

th {
  background: #004477;
  color: #EEE;
  text-align: center;
}

.player-row:nth-child(2n) > td {
  background-color: #EEE; 
}

.turn-input {
  font-family: courier, monospace;
  text-align: right;
  min-width: 40px;
  width: 90%;
  max-width: 70px;
  height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.dropdown-menu {
  width: 12em;
}

.player-name-cell {
  color: #004477;
  font-weight: bold;
}

#header-row {
  height: 3em;
}

#header-row > th {
  padding: 10px 5px;
}

/*
 * Fix settings to bottom left and glitch to bottom right
 */
#dropdown {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#glitch-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*
 * Rounded corners in table header
 */
#header-row > th:first-child {
  border-top-left-radius: 5px;
}
#header-row > th:last-child {
  border-top-right-radius: 5px;
}

/*
 * Hide arrows on number inputs
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  width: fit-content;
  margin: 0 auto 1rem auto;
}

.title-box h1 {
  margin-bottom: 0;
}

.title-box a {
  font-size: 0.9rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

.player-row td {
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding: 5px;
}

/* Add left border to the first cell in each player row */
.player-row td:first-child {
  border-left: 1px solid #CCC;
}

/* Bottom border and rounded corners for last row */
.player-row:last-of-type td {
  border-bottom: 1px solid #CCC;
}

#header-row > th:first-child {
  border-bottom-left-radius: 5px;
}

.player-row:last-of-type td:last-child {
  border-bottom-right-radius: 5px;
}