#container {
    position: relative;
}

#container canvas, #overlay {
    position: absolute;
}

a, a:visited {
    color: yellow;
    font-size: 10vh;
    margin-left: 20vw;
    margin-top: 70vh;
    outline: none;
    position: absolute;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0px;
}

html {
    height: 100%;
}

img {
    display: none;
}